
body{
    margin:5px 20px 20px 20px;
    font-size:12px;
}
td.Cnt, th.Cnt{
    text-align:right !important;
    padding-right:10px;
}
td.vc{
    vertical-align: middle !important;
}
.fl{
    float:left;
    margin-right:5px;
}
.mid{
    margin-top:5px;
    vertical-align:bottom;
}
td.tc, th.tc {
    text-align:center;
}

input.tc {
    text-align:center;
    width:90px;
    font-family:Verdana;
}

table#JSMS thead th{
    text-align:center;
    vertical-align:middle;
}
.print-logo{
    display:none;
}

@media print{
    body{
        font-size:10px;
    }
    #TopBtn{
        display:none;
    }
    .print-logo{
        display:block;
        position:fixed;
        bottom:10px;
        left:10px;
    }
    .vdp-datepicker input{
        border:0px;
    }
}